.header__navigation {
  width: 84%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50px;
}

.header__link-city {
  text-decoration: none;
  margin: 0;
  max-width: 80px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: auto;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
  font-size: .8rem;
  line-height: 1.53;
  color: #999; 
  transition: color .4s;
}

.header__link-city:hover {
  color: #eb1f40;
}

.header__link-city-arrow {
  height: 10px;
  margin-top: 2px;
}

.header__link-phone {
  text-decoration: none;
  margin: 0;
  font-weight: normal;
  font-size: .8rem;
  line-height: 1.53;
  color: #999; 
  transition: color .4s;
}

.header__link-phone:hover {
  color: #eb1f40;
}

.header__link-profile {
  text-decoration: none;
  margin: 0;
  max-width: 120px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: auto;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: .8rem;
  line-height: 1.53;
  padding-right: 8px;
  color: #999; 
  transition: color .4s;
}

.header__icon-profile {
  height: 11px
}

.header__link-profile:hover {
  color: #eb1f40;
}

.header__links-goods {
  width: 400px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link-goods {
  text-decoration: none;
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2.5;
  color: #999; 
  transition: color .4s;
}

.header__link-goods:hover {
  color: #eb1f40;
}

.header__link-basket-mobile {
  display: none;
}

.header__nav-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}

.header__links-company {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 220px;
  height: 50px;
}

.header__link-list:nth-of-type(3) {
  padding-left: 30px;
}

.header__link-item {
  text-decoration: none;
  margin: 0;
  font-weight: normal;
  font-size: .8rem;
  line-height: 1.53;
  color: #999; 
  transition: color .4s;
}

.header__link-item:hover {
  color: #eb1f40;
}

.header__link-cashback {
  text-decoration: none;
  margin: 0;
  max-width: 150px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: auto;
  gap: 13px;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25;
  color: #999;
  border-radius: 20px;
  transition: color .4s;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
  padding: 10px 20px;
  box-sizing: border-box;
}

.header__link-cashback:hover {
  color: #eb1f40;
}

@media screen and (max-width: 768px) {
  .header__navigation {
    width: 100%;
    box-sizing: border-box;
  }

  .header__navigation-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
  }

  .header__links {
    height: 40px;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .header__link-profile {
    display: none;
  }

  .header__links-goods {
    display: none;
  }

  .header__links-company {
    display: none;
  }

  .header__link-cashback {
    display: none;
  }

  .header__nav-container {
    display: none;
  }

  .header__link-basket-mobile {
    display: block;
  }
}
