.header {
  background-color: #fff;
  z-index: 99;
  position: relative;
}

.header__container {
  max-width: calc(100% - 80px);
  margin: 0 auto;
  box-sizing: border-box;
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__container {
    max-width: 100%;
  }
}